.iconed {
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.iconed_title {
  font-weight: bold;
  margin-bottom: 0;
}

.iconed_text {
  font-style: italic;
}
