.iconed {
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
}
.icon {
  width: 20px;
  height: 20px;
}
.iconed_title {
  font-weight: bold;
  margin-bottom: 0;
}
.iconed_text {
  font-style: italic;
}
