.social {
  display: flex;
  list-style: none;
  align-items: baseline;
  margin: 0;
}

.icon {
  width: 100%;
  height: 100%;
}

.link {
  color: currentColor;
}

.link svg {
  will-change: transform;
  transition: all 0.15s;
}

.link:hover svg, .link:focus svg {
  transform: scale(1.3);
}

.link:active svg {
  transform: scale(1);
}

.item {
  width: 40px;
  height: 20px;

  & + & {
    margin-left: 0.5em;
  }
}

@media (max-width: 767px) {
  .item {
    margin-bottom: 0;
  }
}
