.collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(100vw - 14rem);
  margin: 0 calc(-1 * (100vw - 100% - 14rem) / 2);
}

.photo {
  position: relative;
  z-index: 1;
  transition: transform 150ms ease, filter 150ms ease;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.15));

  &:hover {
    z-index: 9;
    transform: scale(1.2) rotate(0) !important;
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.25));
  }
}

@media (max-width: 1279px) {
  .collage {
    width: calc(100vw - 4rem);
    margin: 0 calc(-1 * (100vw - 100% - 4rem) / 2);
  }
}

@media (max-width: 1023px) {
  .collage {
    width: calc(100vw - 8rem);
    margin: 0 calc(-1 * (100vw - 100% - 8rem) / 2);
  }
}
