.header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

.header:after {
  content: '—';
  display: block;
  font-weight: 100;
  margin-top: 0.8em;
}

.subtitle {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}

.text {
  font-size: 0.85em;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
