@import '../../config.css';

.header {
  margin: 20px 0;
  font-size: 0.8rem;
  position: relative;
  font-family: var(--font-headings);
}

.fill {
  width: calc(50% - 50px);
  display: flex;
  align-items: center;
  align-content: center;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.social {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  color: var(--color-blue);
}

.logo {
  background-image: url('//ucarecdn.com/f5b33116-7a4d-4864-bc97-6982f20c696b/logo_cuba.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 100px;
}

.phone {
  display: flex;
  height: 19px;
  align-items: center;
  text-decoration: none;
  font-size: 0.9444rem;
  font-weight: bold;
  color: var(--color-blue);
}

.call {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 0.25em;
  fill: currentColor;
}

.number {
  display: flex;
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
}
