@import '../../config.css';

.header {
  margin: 20px 0 0;
  font-size: 0.8rem;
  position: relative;
  font-family: var(--font-headings);
}

.fill {
  width: calc(50% - 50px);
  display: flex;
  align-items: center;
  align-content: center;

  .first {
    text-align: left;
  }

  .last {
    text-align: right;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.social {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  color: var(--color-blue);
}

.phone {
  display: flex;
  height: 19px;
  align-items: center;
  text-decoration: none;
  font-size: 0.9444rem;
  font-weight: bold;
  color: var(--color-blue);
}

.call {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 0.25em;
  fill: currentColor;
}

.number {
  display: flex;
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
  .header {
    margin-top: 0;
  }

  .last {
    height: 50px;
    text-align: right;
    justify-content: flex-end;
    order: 1;
  }

  .first {
    text-align: left;
    justify-content: flex-start;
    order: 0;
    flex-grow: 1;
    white-space: nowrap;
  }

  .logo_wrapper {
    order: 2;
    min-width: 100%;
    justify-content: center;
    display: flex;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .top {
    padding: 0 16px;
    margin-bottom: 1em;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .social {
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
}
