@import '../../config.css';

.header {
  margin: -88px 0 -50px;
  font-size: 0.8rem;
  position: relative;
  font-family: var(--font-headings);

  &:before {
    content: '';
    position: absolute;
    background-image: url(../../../static/icons/lines.svg);
    background-position: top calc(50% + 126px) center;
    background-size: cover;
    width: 100vw;
    height: 100%;
    top: 0;
    margin-left: calc((100vw - 100%) / 2 * -1);
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    background-color: var(--color-white);
    width: 100vw;
    height: 70px;
    bottom: 0;
    margin-left: calc((100vw - 100%) / 2 * -1);
    z-index: 0;
  }
}

.fill {
  width: calc(50% - 50px);
  height: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  align-content: center;

  .first {
    text-align: left;
  }

  .last {
    text-align: right;
  }
}

.nav {
  position: absolute;
  z-index: 9;
  bottom: 2.5rem;
  width: 100%;
}

.top {
  height: 100%;
  padding-top: 15rem;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  color: var(--color-white);
}

.social {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  align-content: center;

  & li {
    margin: 0;
  }
}

.phone {
  display: flex;
  height: 19px;
  align-items: center;
  text-decoration: none;
  font-size: 0.9444rem;
  font-weight: bold;
  color: currentColor;
}

.call {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 0.25em;
  fill: currentColor;
}

.number {
  display: flex;
}

.logo_wrapper {
  position: relative;
  z-index: 99;
}

@media (max-width: 1023px) {
  .header:before {
    background-position: top calc(50% + 82px) center;
  }

  .top {
    padding-top: 10rem;
  }
}

@media (max-width: 767px) {
  .header {
    margin-top: 0;

    &:before {
      background-position: top calc(50% + 17px) center;
    }
  }

  .last {
    height: 50px;
    text-align: right;
    justify-content: flex-end;
    order: 1;
  }

  .first {
    text-align: left;
    justify-content: flex-start;
    order: 0;
    flex-grow: 1;
    white-space: nowrap;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .top {
    padding: 2.5rem 16px 0;
  }

  .social {
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
}
