.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.item {

}
