@import '../../config.css';

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-red);
}

.item {
  font-family: var(--font-headings);
  font-size: 16px;
}
