@import '../../config.css';

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--color-red);
  margin: 0 0 20px;
  border-bottom: 1px solid currentColor;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-red);
}

.item {
  font-family: var(--font-headings);
  font-size: 1.1618rem;
}
