.footer {
  font-size: 14px;
  width: 100%;
  margin: auto;
  border: 1px solid gray;
}
.top {
  display: flex;
  justify-content: space-between;
}
.bottom {
  margin-top: 2em;
  text-align: center;
}
.social_title {
  font-weight: bold;
  margin-bottom: 1em;
}
