:root {
  --color-white: #fff;
  --color-dark: #000;
  --color-light: #fff;
  --color-blue: #222d5b;
  --color-blue-light: #545d82;
  --color-blue-dark: #131933;
  --color-red: #6b1808;
  --font-headings: Podkova, serif;
  --font-body: Arimo, Helvetica Neue, Helvetica, Arial, sans-serif;
}
