.actions {
  font-size: .8rem;
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;

}

.social_title {
  font-weight: bold;
  margin-bottom: 1em;
}
