@import '../../config.css';

.actions {
  font-size: 0.8rem;
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  color: var(--color-blue);
}

.social_title {
  font-weight: bold;
  margin-bottom: 1em;
}
