@import '../../config.css';

.actions {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  color: var(--color-blue);
  margin-top: 30px;
  margin-left: 32px;
  margin-right: 32px;
}

.social_title {
  font-weight: bold;
  margin-bottom: 1em;
}

.disabled {
  color: rgba(120, 120, 120, 0.5);
  cursor: not-allowed;
}

@media (max-width: 1023px) {
  .actions {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .actions {
    flex-wrap: wrap;
    margin-left: 16px;
    margin-right: 16px;
  }

  .action {
    width: 50%;
  }
}
