@import '../../../../../config.css';

.input-range {
  margin-top: 1.8rem;
}

.input-range__slider {
  background: var(--color-red);
  border: 1px solid var(--color-red);
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.input-range__track--active {
  background: var(--color-blue);
}

.input-range__label-container {
  color: var(--color-blue);
  transition: left 0.1s ease-out;
}

.input-range__label--value {
  top: -2rem;
}
