@import '../../../../../config.css';

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.date_input {
  width: 100%;
  outline-color: currentColor;
  border-radius: 4px;
  border: 2px solid #eee;
  padding-left: 5px;
  margin-top: 1rem;
}

.guests {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.label {
  width: 100%;
  color: var(--color-blue);
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 1rem;
}

.contact_input {
  display: flex;
  justify-content: space-between;
}

.name {
  width: 49%;
  outline-color: currentColor;
  border-radius: 4px;
  border: 2px solid #eee;
  margin-top: 1rem;
  padding-left: 5px;
}

.phone {
  width: 49%;
  outline-color: currentColor;
  border-radius: 4px;
  border: 2px solid #eee;
  margin-top: 1rem;
  padding-left: 5px;
}

.textarea {
  resize: none;
  width: 100%;
  outline-color: currentColor;
  border-radius: 4px;
  border: 2px solid #eee;
  margin-top: 1rem;
  padding-left: 5px;
  font-size: 1rem;
}

.button {
  margin: 1rem auto;
  border-radius: 8px;
  padding: 0.5rem 0;
  background-color: var(--color-blue);
  color: #fff;
  border: none;
  font-family: var(--font-headings);
  display: flex;
  justify-content: center;
  align-items: center;
  outline-color: currentColor;
  font-size: 1.2rem;
}

.label {
  display: flex;
}

@media (max-width: 767px) {
  .button {
    width: 70%;
  }

  .date, .slider, .name, .phone {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .button {
    width: 50%;
  }

  .date, .slider, .name, .phone {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .button {
    width: 35%;
  }

  .date, .slider, .name, .phone {
    width: calc(50% - 15px);
  }
}
